.homepage {
    position: absolute;
    height: 100%;
    width: 100%;
}

.homelogo {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 50px;
}

.listofuser {
    padding: 10px;
}

.sidehome {
    background-color: #7f7903;
}

.headerhome {
    background-color: #7f7903;
}

.nodata {
    position: relative;
    top: 40%;
}