.loginForm{
    padding: 10%;
}

.login-form-button {
    width: 100%;
    background-color: #B6A004;
    border: 0px;
}

.login-form-button:hover {
    background-color: #B6A004;
    box-shadow: 4px 4px 8px #403C10;
}

.login-form-button:focus{
    background-color:#564A04;
}

.loginContainer {
    background-image: linear-gradient(#ffffff 60%,#ddcc48);
}
